<div class="container">
<h1>Your <span id="banner-typed-text"></span></h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id) do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.img_url %>);">
          <div class="card-category">New</div>
          <div class="card-description">
            <h2> <%= cocktail.name %></h2>
            <p><%= cocktail.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
