<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dwuxznw2i/image/upload/v1526637698/u4tsu2tu9mn4isshsfq6.jpg');">
  <h1>Your <span id="banner-typed-text"></span></h1>
  </div>

<div class="container">
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail.id) do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
          <div class="card-category">New</div>
          <div class="card-description">
            <h2> <%= cocktail.name %></h2>
            <p><%= cocktail.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
