.add-dose {
  background: #eee;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #ccc;
  position: absolute;
  width: 100vh;
}
.card-details {
  position: relative;
  top: -30px;
}
